.item {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  background-color:  gray;
  }
  .item-button{
    font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;

  }
  .stuff{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    

  }
  .price{
    font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  }